@charset "UTF-8";

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/Helvetica 55 Roman Regular.woff2") format("woff2"), url("../fonts/Helvetica 55 Roman Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Helvetica Neue";
  font-size: 0.8125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Helvetica Neue";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #85878c;
  background-color: #1a1a1a;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

/*
[class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 math.div($containerPadding, 2) + px;
	}
}
*/

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 20;
  width: 100%;
  /* .header__container */
  /* .header__inner */
}

.header.scroll {
  background-color: #1a1a1a;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 10;
  /* .logo__icon */
  /* .logo__text */
}

.logo__icon:not(:last-child) {
  margin: 0 9px 0 0;
}

.logo__text {
  padding: 0 0 2px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .menu__item */
  /* .menu__link */
}

.menu__item:not(:last-child) {
  margin: 0 45px 0 0;
}

.menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__link:hover {
  color: #34c759;
}

.burger {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $md3) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.subtitle {
  text-transform: uppercase;
  color: #303030;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  position: relative;
  text-align: center;
}

.title {
  color: #d9d9d9;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 47%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subtitle::after {
  content: "";
  background-color: #34c759;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.hero {
  background: url("../img/mainpage/hero/bg.jpg") center/cover no-repeat;
  /* .hero__container */
  /* .hero__title */
  /* .hero__text */
  /* .hero__button */
  /* .hero__inner */
  /* .hero__item */
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-size: 72px;
  line-height: 1.67;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}

.hero__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.hero__title span {
  font-weight: 700;
}

.hero__text {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  color: #fff;
  opacity: 0.7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 595px;
}

.hero__text:not(:last-child) {
  margin: 0 0 40px 0;
}

.hero__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.2em;
  color: #34c759;
  background-color: #1a1a1a;
  border: 3px solid #34c759;
  border-radius: 43px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hero__button:hover {
  background-color: #34c759;
  color: #1a1a1a;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.hero__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
  min-width: 245px;
}

.item-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .item-hero__picture */
  /* .item-hero__description */
  /* .item-hero__text */
}

.item-hero__picture:not(:last-child) {
  margin: 0 0 16px 0;
}

.item-hero__description {
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  font-style: normal;
}

.item-hero__description:not(:last-child) {
  margin-bottom: 5px;
}

.item-hero__text {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  opacity: 0.5;
}

.how {
  /* .how__container */
  /* .how__subtitle */
  /* .how__title */
  /* .how__inner */
  /* .how__item */
}

.how__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 15px;
  min-width: 270px;
}

.item-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px;
  min-height: 206px;
  height: 100%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  /* .item-how__title */
  /* .item-how__text */
}

.item-how:hover {
  background-color: #34c759;
}

.item-how:hover .item-how__title,
.item-how:hover .item-how__text p {
  color: #252525;
}

.item-how:hover .item-how__title::after {
  background-color: #252525;
}

.item-how__title {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #fff;
  padding: 0 0 18px 0;
  position: relative;
}

.item-how__title:not(:last-child) {
  margin-bottom: 24px;
}

.item-how__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 56px;
  background-color: #34c759;
}

.item-how__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-how__text p {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dish {
  padding: 90px 0;
  /* .dish__container */
  /* .dish__subtitle */
  /* .dish__title */
  /* .dish__inner */
  /* .dish__item */
}

.dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dish__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}

.dish__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
}

.item-dish {
  /* .item-dish__picture */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  min-width: 290px;
  /* .item-dish__image */
  /* .item-dish__content */
  /* .item-dish__title */
  /* .item-dish__desctiption */
  /* .item-dish__text */
  /* .item-dish__bottom */
  /* .item-dish__stars */
  /* .item-dish__button */
}

.item-dish__picture {
  position: relative;
  padding: 0 0 74.2857142857% 0;
}

.item-dish__picture::after {
  content: url("../img/mainpage/dish/arrow.svg");
  position: absolute;
  right: 24px;
  top: 24px;
}

.item-dish__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0;
}

.item-dish__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-dish__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #d9d9d9;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.item-dish__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-dish__title:hover {
  color: #34c759;
}

.item-dish__desctiption {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.item-dish__desctiption:not(:last-child) {
  margin: 0 0 20px 0;
}

.item-dish__text:not(:last-child) {
  margin: 0 0 20px 0;
}

.item-dish__text p {
  line-height: 1.38;
  letter-spacing: -0.1625px;
}

.item-dish__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-dish__stars {
  cursor: pointer;
  margin-right: 14px;
}

.item-dish__stars:hover svg rect {
  fill: #f9ad3d;
}

.item-dish__stars svg rect {
  fill: #4d4d4d;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.item-dish__button {
  font-weight: 900;
  font-size: 10px;
  line-height: 4;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 32px;
  border: 2px solid #303030;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.item-dish__button:hover {
  border-color: #34c759;
  background-color: #34c759;
  color: #252525;
}

.recipes {
  /* .recipes__container */
  /* .recipes__subtitle */
  /* .recipes__title */
  /* .recipes__wrapper */
  /* .recipes__member */
  /* .recipes__big */
  /* .recipes__title */
  /* .recipes__date */
  /* .recipes__text */
  /* .recipes__author */
  /* .recipes__box */
  /* .recipes__views */
  /* .recipes__comments */
  /* .recipes__inner */
  /* .recipes__small */
  /* .recipes__row */
  /* .recipes__item */
}

.recipes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.recipes__member {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 0 15px;
  min-width: 300px;
}

.recipes__big {
  background: url("../img/mainpage/recipes/big.jpg") center/cover no-repeat;
  padding: 60px 0px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.recipes__title {
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  border-radius: 3px;
}

.recipes__title--last {
  background-color: #000;
}

.recipes__title:not(:last-child) {
  margin-bottom: 65px;
}

.recipes__date {
  font-size: 14px;
  line-height: 2.14;
  color: #fff;
}

.recipes__date:not(:last-child) {
  margin-bottom: 25px;
}

.recipes__text {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  color: #fff;
}

.recipes__text:not(:last-child) {
  margin-bottom: 45px;
}

.recipes__text--small {
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
}

.recipes__author {
  font-size: 14px;
  line-height: 2.14;
  color: #fff;
}

.recipes__author:not(:last-child) {
  margin-bottom: 60px;
}

.recipes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipes__views {
  padding: 0 3px 0 43px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 2.5;
  color: #fff;
}

.recipes__views--last {
  color: #1a1a1a;
}

.recipes__views:not(:last-child) {
  margin-right: 27px;
}

.recipes__views::before {
  content: url("../img/mainpage/recipes/eye.svg");
  position: absolute;
  left: 3px;
  top: 4px;
}

.recipes__views--last::before {
  content: url("../img/mainpage/recipes/eye-black.svg");
}

.recipes__comments {
  padding: 0 3px 0 43px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 2.5;
  color: #fff;
}

.recipes__comments--last {
  color: #1a1a1a;
}

.recipes__comments::before {
  content: url("../img/mainpage/recipes/comments.svg");
  position: absolute;
  left: 3px;
  top: 4px;
}

.recipes__comments--last::before {
  content: url("../img/mainpage/recipes/comments-black.svg");
}

.recipes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.recipes__small {
  height: 100%;
  border-radius: 6px;
  background: #252525;
  padding: 25px 30px;
}

.recipes__small--last {
  background-color: #34c759;
}

.recipes__small--bg-image {
  background: url("../img/mainpage/recipes/small.jpg") center/cover no-repeat;
}

.recipes__small .recipes__text {
  text-align: left;
  margin-bottom: 10px;
}

.recipes__small .recipes__text--last {
  color: #252525;
}

.recipes__small .recipes__title {
  margin: 0 15px 0 0;
}

.recipes__small .recipes__date {
  color: #b3b3b3;
}

.recipes__small .recipes__date--last {
  color: #252525;
}

.recipes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 -10px;
}

.recipes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  padding: 0 10px;
  min-width: 200px;
}

.page {
  min-width: 0;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 31.25em) {
  .subtitle {
    font-size: 6.25rem;
  }

  .title {
    font-size: 2.25rem;
  }
}

@media (min-width: 47.99875em) {
  .hero__text {
    font-size: 1rem;
  }

  .hero__button {
    font-size: 1.125rem;
  }

  .hero__button {
    padding-left: 52px;
  }

  .hero__button {
    padding-right: 52px;
  }

  .hero__button {
    padding-top: 19px;
  }

  .hero__button {
    padding-bottom: 19px;
  }

  .hero__button:not(:last-child) {
    margin-bottom: 70px;
  }

  .how {
    padding-top: 60px;
  }

  .how {
    padding-bottom: 60px;
  }
}

@media (min-width: 61.99875empx) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 61.99875em) {
  .header {
    padding-top: 33px;
  }

  .header {
    padding-bottom: 33px;
  }

  .hero {
    padding-bottom: 400px;
  }
}

@media (min-width: 68.75em) {
  .hero__title {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 62em) {
  .item-dish__content {
    padding: 29px;
  }
}

@media (min-width: 75em) {
  .hero {
    padding-top: 171px;
  }
}

@media (min-width: 90em) {
  .how__subtitle:not(:last-child) {
    margin-bottom: 60px;
  }

  .dish {
    padding-top: 90px;
  }

  .dish {
    padding-bottom: 90px;
  }

  .dish__subtitle {
    margin-bottom: 60px;
  }

  .recipes {
    padding-bottom: 60px;
  }

  .recipes__subtitle:not(:last-child) {
    margin-bottom: 60px;
  }

  .recipes__big {
    padding-right: 90px;
  }

  .recipes__big {
    padding-left: 90px;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 20px;
  }

  .header {
    padding-bottom: 20px;
  }

  .subtitle {
    font-size: 4.375rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .hero {
    padding-top: 100px;
  }

  .hero {
    padding-bottom: 200px;
  }

  .hero__title {
    font-size: 1.5625rem;
  }

  .hero__text {
    font-size: 0.75rem;
  }

  .hero__button {
    font-size: 0.875rem;
  }

  .hero__button {
    padding-left: 30px;
  }

  .hero__button {
    padding-right: 30px;
  }

  .hero__button {
    padding-top: 10px;
  }

  .hero__button {
    padding-bottom: 10px;
  }

  .hero__button:not(:last-child) {
    margin-bottom: 30px;
  }

  .how {
    padding-top: 20px;
  }

  .how {
    padding-bottom: 20px;
  }

  .how__subtitle:not(:last-child) {
    margin-bottom: 20px;
  }

  .dish {
    padding-top: 20px;
  }

  .dish {
    padding-bottom: 20px;
  }

  .dish__subtitle {
    margin-bottom: 20px;
  }

  .item-dish__content {
    padding: 15px;
  }

  .recipes {
    padding-bottom: 20px;
  }

  .recipes__subtitle:not(:last-child) {
    margin-bottom: 20px;
  }

  .recipes__big {
    padding-right: 30px;
  }

  .recipes__big {
    padding-left: 30px;
  }
}

@media (max-width: 61.99875empx) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 47.99875em) {
  .header {
    background-color: #1a1a1a;
  }

  .menu {
    position: fixed;
    background-color: #1a1a1a;
    top: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0 0 0;
    left: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .menu.active {
    top: 0;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .menu__link {
    font-size: 30px;
    padding: 10px 0;
    display: block;
  }

  .burger {
    z-index: 999;
    width: 30px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }

  .burger::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #34c759;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #34c759;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger div {
    width: 100%;
    height: 2px;
    background-color: #34c759;
  }

  .burger.active div {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }

  .burger.active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .burger.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
}

@media (min-width: 20em) and (max-width: 61.99875em) {
  .header {
    padding-top: calc(20px + 13 * (((100vw - 320px)) / ((671.98))));
  }

  .header {
    padding-bottom: calc(20px + 13 * (((100vw - 320px)) / ((671.98))));
  }

  .hero {
    padding-bottom: calc(200px + 200 * (((100vw - 320px)) / ((671.98))));
  }
}

@media (min-width: 20em) and (max-width: 31.25em) {
  .subtitle {
    font-size: calc(4.375rem + 30 * (((100vw - 320px)) / ((180))));
  }

  .title {
    font-size: calc(1.25rem + 16 * (((100vw - 320px)) / ((180))));
  }
}

@media (min-width: 20em) and (max-width: 75em) {
  .hero {
    padding-top: calc(100px + 71 * (((100vw - 320px)) / ((880))));
  }
}

@media (min-width: 20em) and (max-width: 68.75em) {
  .hero__title {
    font-size: calc(1.5625rem + 47 * (((100vw - 320px)) / ((780))));
  }
}

@media (min-width: 20em) and (max-width: 47.99875em) {
  .hero__text {
    font-size: calc(0.75rem + 4 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button {
    font-size: calc(0.875rem + 4 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button {
    padding-left: calc(30px + 22 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button {
    padding-right: calc(30px + 22 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button {
    padding-top: calc(10px + 9 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button {
    padding-bottom: calc(10px + 9 * (((100vw - 320px)) / ((447.98))));
  }

  .hero__button:not(:last-child) {
    margin-bottom: calc(30px + 40 * (((100vw - 320px)) / ((447.98))));
  }

  .how {
    padding-top: calc(20px + 40 * (((100vw - 320px)) / ((447.98))));
  }

  .how {
    padding-bottom: calc(20px + 40 * (((100vw - 320px)) / ((447.98))));
  }
}

@media (min-width: 20em) and (max-width: 90em) {
  .how__subtitle:not(:last-child) {
    margin-bottom: calc(20px + 40 * (((100vw - 320px)) / ((1120))));
  }

  .dish {
    padding-top: calc(20px + 70 * (((100vw - 320px)) / ((1120))));
  }

  .dish {
    padding-bottom: calc(20px + 70 * (((100vw - 320px)) / ((1120))));
  }

  .dish__subtitle {
    margin-bottom: calc(20px + 40 * (((100vw - 320px)) / ((1120))));
  }

  .recipes {
    padding-bottom: calc(20px + 40 * (((100vw - 320px)) / ((1120))));
  }

  .recipes__subtitle:not(:last-child) {
    margin-bottom: calc(20px + 40 * (((100vw - 320px)) / ((1120))));
  }

  .recipes__big {
    padding-right: calc(30px + 60 * (((100vw - 320px)) / ((1120))));
  }

  .recipes__big {
    padding-left: calc(30px + 60 * (((100vw - 320px)) / ((1120))));
  }
}

@media (min-width: 20em) and (max-width: 62em) {
  .item-dish__content {
    padding: calc(15px + 14 * (((100vw - 320px)) / ((672))));
  }
}